<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/{{style}}">
</head>

<body>
    
    <ul id="mymenubar" class="topnav">
        <li id="home" class="active"><a  href="/">Home</a> </li>
        <li id="events" class=""><a href="/events">Events</a> </li>
        <li id="about" class=""><a href="/about">About</a> </li>
        {{#strEq accountType "admin"}}
        <li id='control' class = ''><a href="/controlPanel">Control Panel</a></li>
        {{/strEq}}
        <li class="right">{{#if userId}}
            <a href="/login/logout">Αποσύνδεση</a>
            {{else}}
            <a  href="/login">Είσοδος</a>
            {{/if}}
        </li>
    </ul>
    
    {{#if admin}}
    
    {{else}}
    <div class="container">

        <div class="logo">
            <img src="/img/logo_red.png">

        </div>

        <div class="title">
            <h1 id="w1" class="titleWords">Νο1 ΣΕΛΙΔΑ</h1>
            <h1 id="w2" class="titleWords">ΓΙΑ</h1>
            <h1 id="w3" class="titleWords">ΚΡΑΤΗΣΕΙΣ</h1>
            <h1 id="w4" class="titleWords">ΕΚΔΗΛΩΣΕΩΝ</h1>
        </div>
    </div>
    {{/if}}
    {{{body}}}


<script src="/src/navbar.js"></script>

</body>

</html>


