<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Task list</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/navbar.css">
    </head>

    <body>
         <ul class="topnav">
    <li><a class=" active" href="/">Home</a> </li>
    <li><a href="/events">Events</a> </li>
    <li><a href="#contact">Contact</a> </li>
    <li><a href="#about">About</a> </li>
    <li class="right">{{#if userId}}
                        <a href="/login/logout">Αποσύνδεση</a>
                    {{else}}
                        <a href="/login">Είσοδος</a>
                    {{/if}} </li>
            </ul>
            {{{body}}}
        </div>
    </body>

</html>
