<div class="container1">


<div id="subtitle">
    <h3>Λίγα λόγια για την ιστοσελίδα μας...</h3>
</div>

<div id="description">
    <p>Η ιστοσελίδα κρατήσεων για εκδηλώσεις πανtώς τύπου δημιουργήθηκε στα πλαίσια της 
        εργασίας του μαθηματος "Προγραμματισμος Διαδικτύου".</p>
        <p>Στην υλοποίηση συμμετείχαν οι φοιτητές Κόντος Παναγιώτης και Κωνσταντόπουλος Κωνσταντίνος. </p>

        <p>Η σελίδα μας δύναται να χρησιμοποιηθεί απο τον admin user και τον απλό user. Οι δυνατότητες του κάθε χρήστη
            φαίνονται παρακάτω.</p>


            <div class="userChoice">
            <dl>
			<dt id="admin" class="active"> Admin</dt>
			<dt id="user"> User </dt>
            </dl>

            </div>

</div>

<div class="placeholder_information">

    <div id="adminActions" class="active">
        
			<dd>
				<p>Ο admin κατευθύνεται αρχικά στο control Panel. Από εκέι μπορεί να δει τις υπάρχουσες 
            παραστάσεις που υπάρχουν (έχει προσθέσει ο ίδιος παλαιότερα).</p>
            <p>Σε κάθε μία απο τις παραστάσεις του δίνονται 3 επιλογές.</p>

            <p class="choices">Να επεξεργαστεί την παράσταση, ανοιγωντας μπροστά του η φόρμα συμπληρωμένη με τα τελευταία 
            στοιχεία, πραγματοποιεί τις αλλαγές που επιθυμεί και επιλέγει "Υποβολή Παράστασης". </p>
            <p class="choices">Να διαγράψει μία παράσταση.</p>
            <p class="choices">Να επιλέξει το κουμπί "Κρατήσεις" και να δει τις υπάρχουσες κρατήσεις για την 
            συγκεκριμένη παράσταση. </p>
            <p class="choices">Δημιουργία μιας νέας παράστασης. </p>

            <p>Εάν δεν υπάρχει κάποια παράσταση μπορεί προσθέσει μια πατώντας το κουμπί που βρίσκεται 
            στο του πάνω μέρους της σελίδας. Έπειτα θα του ανοίξει μια φόρμα όπου πρέπει να βάλει 
            τα στοιχεία της παράστασης. Όταν συμπληρώσει όλα τα απαιτούμενα στοιχεία πατάει το 
            κουμπί "Υποβολή Παράστασης" που βρίσκεται στο κάτω μέρος και η παράσταση (εφόσον έχουν 
            συμπληρωθεί σωστά όλα τα πεδία της φόρμας) προστίθεται στο σύστημα. Εάν θέλει να διακόψει
            την διαδικασία οποιαδήποτε στιγμή μπορει να πατήσει ακύρωση και να γυρίσει στο control Panel.</p>

            <p> <h5 style="color: red;">Σημαντικό!</h5> Στον διαχειριστή δεν επιτρέπεται να κάνει κράτηση! </p>
			</dd>
		</div>
    

    <div id="userActions" class="active">
			<dd>

            <p class="choices">Ο απλός user έχει πρόσβαση στην αρχική σελίδα όπου βλέπει τις 3 δημοφιλέστερες παραστάσεις την τρέχουσα στιγμή. 
                Πατώντας πάνω στην εικόνα θα κατευθυνθεί στην σελίδα της συγκεκριμένης παράστασης. </p>
            <p class="choices">Να επιλέξει απο το menu στο πάνω μέρος να δεί όλα τα events που είναι διαθέσιμα.
                Υπάρχει η εικόνα της παράστασης, ο τίτλος, η ημερομηνία και μια μικρή περιγραφή που έχει προστεθεί απο 
                τον διοργανωτή. Απο εκεί πατώντας πάνω σε κάποιο event θα ανακατευθυνθεί στην αντίστοιχη σελίδα με 
                τις πληροφορίες του event. </p>
            <p class="choices">Στην σελίδα με τις πληροφορίες της παράστασης φαίνονται αναλυτικά όλα τα στοιχεία. 
                Πατώντας στο κουμπί που υπάρχει στα δεξιά "Κάντε Κράτηση" θα του ανοίξει μία φόρμα για να συμπληρώσει 
                τα στοιχεία του και τα εισητήρια που επιθυμεί. Εαν δεν έχει κάνει κάποιο λάθος στην συμπήρωση της φόρμας, 
                μόλις πατήσει "Ολοκλήρωση Κράτησης" στο κάτω μέρος θα ανακατευθυνθεί στην σελίδα της παράστασης και θα 
                του εμφανιστεί μήνυμα ότι η κράτηση καταχωρήθηκε επιτυχώς!</p>

			</dd>

		</div>

</div>
    

            
</div>

<script src="/src/about.js"></script>