   <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
                {{#each events}}
                    <li class="list-group-item"><a href="/event/{{id}}" >
                    <img class = "smallBanner" src = "./img/img1.png"></a> 
                    <div class="eventTitle">{{title}} -</div>  
                    <div class="eventDate">{{date}} </div>
                    <div class="eventDesc"> <textarea id="eventDescr" cols="50" rows="5" >{{description}} </textarea></div>
                        
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

