   <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
                {{#each events}}
                    <li class="list-group-item"><a href="/tasks/toggle/{{id}}" {{#if status}}
                            style="text-decoration: line-through;" {{/if}}>{{event}}</a> - {{created_at}}
                        <a href="/tasks/remove/{{id}}">X</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

