
	<div class="/event_page">
		<div>
			<img class="manimg" src="./img1.png"> </img>
		</div>
		<div class="info">
			<div class="event_title"> <h2 style="text-align: center"> Title </h2></div>
			<div class="event_info"> 
				<span id="event_date">Date: 30 Μαίου</span>
				<br>
				<p>Theatre: <a href="Royal Theater" id="event_theatre"> Royal Theater </a></p>
				
			</div>
			<div class="event_reservation">
				<button class="btn_reservation"> Κράτηση</button>
			</div>
		</div>

		<div class="details_menu">
			<dl>
				<dt id="description" class="active"> Περιγραφή </dt>
				<dt id="castCrew" class=""> Συντελεστές </dt>
				<dt id="organizer" class=""> Διοργανωτής </dt>
			</dl>
			
		</div>

	</div>
	


