<div class="overlay"></div>

<div class="popup"></div>

<div class="eventForm" id="adminForm">
  <form  class="form-container">
    <h1 style="text-align: center;">Προσθήκη Παράστασης</h1>

    <div class="Details">

    <div class="eventTitle">
    <label id="eventTitle" style="text-align: center;"><b> Τίτλος παράστασης </b </label>
    <input type="text" id="eventTitle" required>
    </div>

    <div class="eventLocation">
    <label id="eventLocation"><b> Τοποθεσία </b</label>
    <input type="text"  placeholder="Τοποθεσία Προβολής" id="eventTitle" required>
    </div>
    <div class="eventPopulation">
    <label id="eventPopulation"><b> Αρ. Θέσεων </b</label>
    <input type="text"  placeholder="100" id="eventTitle" required>

    </div>
    
    
    
    <div class="eventDate">
    <label id="date"><b>Ημερομηνία </b></label>
    <br>
    <input type="date" id="eventDate" required>
    </div>

    <div class="eventTime">
    <label id="time"><b>Ώρα εναρξης  </b></label>
    <br>
    <input type="time" id="eventTime" required>
    </div>
    <div class="eventDuration">
    <label id="duration"><b>Διάρκεια (σε λεπτά)  </b></label>
    <input type="text" placeholder="240" id="eventDuration" required>
    </div>

    <div class="eventImg">
    <label id="eventImg"><b>Προσθήκη Εικόνας (url) </b></label>
    <input type="text"  name="eventImg" >
    </div>

    <div class="eventPhone">
    <label id="Phone"><b>Τηλέφωνο</b></label>
    <input type="text"  placeholder="Τηλ. Επικοινωνίας" name="phone" maxlength="10" size="12" required>
    </div>

    <div class="eventPrice">
    <label id="price"><b>Τιμή Εισητηρίου: </b></label>
    <input type="text" placeholder="15€" name="eventPrice" required>
    </div>

    <div class="eventDescription">
    <label for="eventDescriptionText"><b>Περιγραφή</b></label>
    {{!-- <input type="text" name="name" required> --}}
    <textarea id="eventDescriptionText" name="Text1"></textarea>

    </div>

    <div class="eventPeople">
    <label for="eventPeopleText"><b>Συντελεστές</b></label>
    {{!-- <input type="text" name="eventPeople" required>--}}
    <textarea id="eventPeopleText" name="Text2" ></textarea> 

    </div>
    

 
    

    <button type="submit" class="btn">Υποβολή Παράστασης</button>
    <button type="button" class="btn cancel" onclick="closeForm()"> Ακύρωση</button>
  </form>
</div>