<div class="event_page">
		<div class="img_box">
			<img class="mainimg" src="./img/img1.png"> </img>
		</div>
		<div class="info">
			<div class="eventTitle"> <h2 style="text-align: center"> {{event}}  </h2></div>
			<div class="eventInfo"> 
				<span id="eventDate">Date: 30 Μαίου</span>
				<br>
				<p id="location">Theater: <a href="Royal Theater" id="eventTheater"> Royal Theater </a></p>
				
			</div>
			<div class="eventReservation">
				<button type="button" class="btnReservation"> Κάντε Κράτηση</button>
			</div>
		</div>

		<div class="details_menu">
			{{!-- <select class="responsive-tabs-dropdown tp-form-control"> 
				<option value="0"> Περιγραφή</option>
				<option value="1"> Συντελεστές</option>
                <option value="2"> Διοργανωτής</option>
            </select> --}}
			<dl>
				<dt id="description" class="active"> <a href="#description">Περιγραφή</a></dt>
				<dt id="castCrew" class=""> <a href="#castcrew"> Συντελεστές </a></dt>
				<dt id="organizer" class="" > <a href="#organizer"> Διοργανωτής </a></dt>
				<br><br>
			</dl>
			
		</div>
		<div class="placeholder_information">
			<div class="description">
				<dd>
				<p> perigrafi ths parastashs </p>
				</dd>

			</div>

			<div class="castCrew">
				<dd>
					<strong> Ηθοποιοί</strong>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
					<p>abgd</p>
				</dd>
			</div>

			<div class="organizer">
				<dd>
				<p>ME.AS.AE</p>
				</dd>

			</div>
		</div>
	</div>
	


