.container1 {
    /* background-color: rgb(240, 235, 215); */
    margin-bottom: 50px;
    
}

body{
  background-color: rgb(240, 235, 215);

}
#subtitle {
    margin-top: 20px;
    text-align: center;
}

#description {
    margin-top: 15px;
    margin-left: 50px;
}

.userChoice dl {
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: pointer;
    
}
.userChoice dt     {
    float: left;
    color: black;
    padding: 10px 30px 10px 30px;
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
    font-size: 17px;
    border-right: 3px solid rgb(0, 0, 0);
    opacity: 0.7;
    font-weight: bold;
    /* margin-left: 100px; */
    
}
#adminActions dd{
    margin-left: 20px;
}

.userChoice dt:hover{
    opacity: 1;
    /* color: black; */
    color: #0055ff;
}

.userChoice .active{
  opacity: 1;
  color: #0055ff;
}

.placeholder_information {
  margin-left: 35px;
  padding-bottom: 10px;
}

.choices {
    display: list-item;
    margin-left: 70px;
}


#adminActions {
  display: none;
  

 
  
}

#userActions {
  display: none;
 
 
}