* {
    box-sizing: border-box;
}

.event_page {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 201, 201);
    border: 2px solid red;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.img_box {
    display: block;
    height: 450px;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    
}
  .mainimg {
      display: block;
      width: 100%;
      height:100%;
      border-radius: 10px;
  }
  
  .info {
      position: relative;
      display: block;
      height: 100px;;
      margin-left: auto;
      margin-right: auto;
      /* z-index: 3; */
      border-bottom: 1px solid #2b2b2b;
  
  }
  .eventTitle {
      display: inline-block;
      padding-left: 5px;
      padding-bottom: 10px;
      margin-top: 20px;
      width: 50%;
      height: 90%;
      overflow-wrap: break-word;
      
  
  }
  .eventInfo{
      display: inline-block;
      font-size: large;
      padding-left: 10px;
      width: 29%;
      height: 90%;
      position: absolute;
      top: 15%;
  }
 
  .eventReservation {
      display: block;
      float: right;
      padding-left: 10px;
      width: 19%;
      margin-top: auto;
      margin-bottom: auto;
      height:100%;
      padding-top: 2%;
      padding-bottom: 2%;
  }
  .btnReservation {
      display: block;
      position: relative;
      background-color: rgb(47, 230, 47);
      width: 80%;
      height: 100%;

  }
    .eventReservation a{
        text-decoration: None;
    }
      


  
  .details_menu dl {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      cursor: pointer;
      
  }
  .details_menu dt     {
      float: left;
      color: black;
      padding: 10px 30px 10px 30px;
      border-bottom: 3px solid transparent;
      display: flex;
      align-items: center;
      font-size: 17px;
      /* border-right: 1px solid gray; */
      opacity: 0.7;
      font-weight: bold;
  }

  .details_menu dt:hover{
      opacity: 1;
      /* color: black; */
      color: #0055ff;
  }
  
  .details_menu .active{
    opacity: 1;
    color: #0055ff;
  }

  .placeholder_information {
    margin-left: 35px;
  }
  
 #description1 {
    display: block;
    

   
    
}

#castCrew1 {
    display: None;
   
   
}

#organizer1 {
    display: None;
    font-size: larger;
    font-weight: bolder;
   
  
}   

#price1 {
    display: None;
    

   
  
}  




  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column_foto, .column_description {
      width: 100%;
    }
  }

 