* {
    box-sizing: border-box;
}

.event_page {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
}

.img_box {
    display: block;
    height: 300px;;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}
  .mainimg {
      display: block;
      width: 100%;
      height:100%;
  }
  
  .info {
      position: relative;
      display: block;
      height: 100px;;
      margin-left: auto;
      margin-right: auto;
      /* z-index: 3; */
      border-bottom: 1px solid #dbdbdb;
  
  }
  .eventTitle {
      display: inline-block;
      padding-left: 5px;
      padding-bottom: 10px;
      width: 50%;
      height: 90%;
      overflow-wrap: break-word;
      
  
  }
  .eventInfo{
      display: inline-block;
      font-size: large;
      padding-left: 10px;
      width: 29%;
      height: 90%;
      position: absolute;
      top: 15%;
  }
 
  .eventReservation {
      display: block;
      float: right;
      padding-left: 10px;
      width: 19%;
      margin-top: auto;
      margin-bottom: auto;
      height:100%;
      padding-top: 2%;
      padding-bottom: 2%;
  }
  .btnReservation {
      display: block;
      position: relative;
      background-color: rgb(47, 230, 47);
      width: 80%;
      height: 100%;
      
      


  }
  .details_menu dl {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
  .details_menu dt     {
      float: left;
      color: #014ee9;
      padding: 10px 30px 10px 30px;
      border-bottom: 3px solid transparent;
      display: flex;
      align-items: center;
      font-size: 17px;
  }


  
/* #description1 {
    
    display: None;
    
}

#castCrew1 {
    
    display: block;
   
}

#organizer1 {
    
    display: block;
  
}   */

.active  {
    display: block;
    background-color: aquamarine;
    opacity: 1;
    
    /* z-index: 0; */
} 


  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column_foto, .column_description {
      width: 100%;
    }
  }