.smallBanner{
    display: inline-block;
    max-height: 250px;
    max-width: 250px;
}

.eventTitle {
    display: inline-block;
    padding-left: 15px;
}

.eventDate {
    display: inline-block;
}

.eventDesc {
    display: inline-block;
    padding-left: 15px;
}