
/* Style the input container */
.topnav .login-container {
    float: right;
}


ul.topnav li {
    float: left;
    border-right: 1px solid #bbb;
    
}

ul.topnav li:last-child {
    border-right: none;
  }

ul.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

ul.topnav li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

ul.topnav li a.active {
    background-color: #2196F3;
    color: white;
}

ul.topnav li input[type=text] {
    border: none;
    float: center;
    border-left: 3px solid rgb(0, 0, 0);
    padding: 7.5px;
    margin-top: 5px;
    font-size: 18.5px;
}

ul.topnav li button {
    float: left;
    padding: 4.5px;
    margin-top: 4.5px;
    margin-right: 0px;
    border: none;
}

.topnav li a.button {
    float: right;
    text-decoration: underline;
    margin-top: auto;
    border: none;
    font-size: 17px;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {

    
    ul.topnav li{
        float: none;
        /* display: block; */
        text-align: center;
        /* width: 100%; */
        /* margin: 0; */
        /* padding: 14px; */
    }
    
    ul.topnav li input[type=text] {
        margin-top: 5px;
        font-size: 18.5px;
        border-left: 3px solid rgb(0, 0, 0);
    }
}